*{
    margin: 0px;
    padding: 0px;
}
html,body{
    overflow-x: hidden;
    background-color: hsl(210, 46%, 95%);
}
.contents{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.main-bx{
    height: 280px;
    width: 730px;
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 15px;
}
.img1{
    height: 280px;
    width: 280px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.img2{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    position: relative;
    top: 220px;
    left: -205px;
}
#img3{
    height: 17px;
    width: 17px;
    position: relative;
    top: 5.5px;
    left: 7px;
}
#img-bg{
    background-color: hsl(210, 17%, 89%);
    height: 31px;
    width: 80px;
    position: relative;
    top: 225px;
    left: -50px;
    border-radius: 50%;
}
.main-bx > h2{
    font-size: 17px;
    font-family: "Manrope";
    font-weight: 600;
    margin-right: -485px;
    position: relative;
    top: 43px;
    left: 35px;
}
.main-bx > .p1{
    font-family: "Manrope";
    margin-right: 120px;
    position: relative;
    top: 130px;
    left: 250px;
    font-size: 12px;
}
.name{
    position: relative;
    top: 222px;
    left: -193px;
    white-space: nowrap;
    font-size: 10px;
    font-weight: bold;
    font-family: "Manrope";
}
.date{
    position: relative;
    top: 238px;
    left: -280px;
    white-space: nowrap;
    font-family: "Manrope";
    font-size: 10px;
}
#img3:hover{
    cursor: pointer;
}
#img-bg:hover{
    background-color: rgb(159, 183, 206);
    cursor: pointer;
}
#sm-bx{
    height: 50px;
    width: 210px;
    background-color: rgb(71, 85, 106);
    border-radius: 10px;
    position: absolute;
    top: 420px;
    left: 900px;
    display: flex;
    flex-direction: row;
    opacity: 0;
}
#sm-bx > img{
    height: 20px;
    width: 20px;
    margin: 6px;
    position: relative;
    top: 10px;
    left: 30px;
}
#sm-bx > p{
    letter-spacing: 5px;
    font-size: 12px;
    font-family: "Manrope";
    position: relative;
    top: 18px;
    left: 25px;
}
.arrow{
    height: 20px;
    width: 30px;
    background-color: rgb(71, 85, 106);
    position: relative;
    top: 43px;
    left: -70px;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
}
@media screen and (min-device-width:300px) and (max-device-width:399px){
    *{
        margin: 0vw;
        padding: 0vw;
    }
    html,body{
        overflow-x: hidden;
    }
    .main-bx{
        display: flex;
        flex-direction: column;
        height: 150vw;
        width: 90vw;
    }
    .img1{
        width: 90vw;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    .main-bx > h2{
        margin-right: 70px;
        top: 7vw;
    }
    .main-bx > .p1{
        position: relative;
        top: 12vw;
        left: 10vw;
        margin-right: 29vw;
    }
    .img2{
        position: relative;
        top: 18vw;
        left: 10vw;
    }
    .name{
        position: relative;
        top: 9vw;
        left: 23vw;
    }
    .date{
        position: relative;
        top: 10vw;
        left: 23vw;
    }
    #img-bg{
        position: relative;
        top: 3vw;
        left: 75vw;
        height: 8vw;
        width: 8vw;
    }
    #sm-bx{
        position: absolute;
        top: 160vw;
        left: 5vw;
        z-index: 2;
        width: 90vw;
        border-top-left-radius: 0vw;
        border-top-right-radius: 0vw;
    }
    .contents{
        overflow-x: hidden;
    }
    .arrow{
        opacity: 0;
    }
}
@media screen and (min-device-width:400px) and (max-device-width:499px){
    *{
        margin: 0vw;
        padding: 0vw;
    }
    html,body{
        overflow-x: hidden;
    }
    .main-bx{
        display: flex;
        flex-direction: column;
        height: 150vw;
        width: 90vw;
    }
    .img1{
        width: 90vw;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    .main-bx > h2{
        margin-right: 70px;
        top: 7vw;
    }
    .main-bx > .p1{
        position: relative;
        top: 12vw;
        left: 10vw;
        margin-right: 29vw;
    }
    .img2{
        position: relative;
        top: 18vw;
        left: 10vw;
    }
    .name{
        position: relative;
        top: 9vw;
        left: 23vw;
    }
    .date{
        position: relative;
        top: 10vw;
        left: 23vw;
    }
    #img-bg{
        position: relative;
        top: 3vw;
        left: 75vw;
        height: 8vw;
        width: 8vw;
    }
    #sm-bx{
        position: absolute;
        top: 182vw;
        left: 5vw;
        z-index: 2;
        width: 90vw;
        border-top-left-radius: 0vw;
        border-top-right-radius: 0vw;
    }
    .contents{
        overflow-x: hidden;
    }
    .arrow{
        opacity: 0;
    }
}
